body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.App-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 300px;
    border-radius: 0 0 10px 10px;
    z-index: 1;
    color: white;
    font-size: 25px;
    background: rgb(49, 49, 49);
}

.Navigation {
    display: flex;
    align-items: center;
}

.Navigation ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.Navigation li {
    margin-right: 10px;
    position: relative;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.Navigation li:hover {
    transform: scale(1.05);
}

.Navigation a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 767px) {
    .container {
        padding: 10px;
    }

    .App-header {
        height: 150px;
        font-size: 16px;
    }

    .header-left {
        margin-left: 0;
        text-align: center;
    }

    .GridContainer {
        gap: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* Centra los elementos en dispositivos móviles */
    }

    .AboutMe,
    .Projects,
    .Skills {
        padding: 10px;
        margin-bottom: 10px;
    }

    .SkillGroup {
        border: 1px solid #ddd;
        /* Borde gris suave alrededor de cada habilidad */
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 10px;
        width: calc(100% - 20px);
        /* Habilidades en columna en dispositivos móviles */
        box-sizing: border-box;
    }

    .Project {
        flex: 0 0 calc(100% - 20px);
    }

    .ProjectGroupTitle {
        font-size: 1.5em;
    }

    .Portrait {
        width: 70%;
        /* Reducir el ancho de la foto al 70% */
    }

    .PortraitContainer {
        margin-right: 10px;
        /* Reducir el margen entre la foto y los enlaces */
        margin-bottom: 20px;
        /* Agregar espacio entre la foto y los enlaces */
    }

    .Navigation {
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        top: 20px;
        right: 20px;
        background: rgba(0, 0, 0, 0.8);
        border-radius: 10px;
        padding: 10px;
        display: none;
    }

    .Navigation.active {
        display: flex;
    }

    .Navigation li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .Navigation a {
        font-size: 16px;
        color: white;
        text-decoration: none;
        /* Elimina el subrayado */
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
        color: white;
        font-size: 20px;
        background: none;
        border: none;
    }
}

/* Estilos para escritorio */
@media screen and (min-width: 768px) {
    .menu-toggle {
        display: none;
        /* Oculta la hamburguesa en pantallas más grandes */
    }

    .Navigation {
        display: flex;
        /* Muestra la navegación extendida en pantallas más grandes */
    }

    .GridContainer {
        gap: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .SkillsContainer {
        padding: 40px;
    }

    .SkillGroup {
        width: calc(50% - 20px);
        margin-right: 20px;
        border: 2px solid #ddd;
        border-radius: 8px;
        box-sizing: border-box;
        padding: 2rem;
        margin: 0 auto;
        text-align: center;
        max-width: 500px;
    }

    .SkillGroup:nth-child(odd) {
        margin-right: 0;
    }
}


/* estilos About me*/
.AboutMe {
    text-align: center;
}

.AboutMeText {
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
}

.AboutMeButtons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.download-cv,
.show-pdf {
    margin-right: 10px;
}


.Project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* Para permitir que los elementos se ajusten en una fila */
    margin-bottom: 10px;
    background-color: #ffcc00;
    border: 2px solid #ff6699;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
    opacity: 0.8;
    text-align: center;
}

.Project img {
    max-width: 200px;
    height: auto;
    margin-bottom: 10px;
}

.ProjectsContainer {
    padding: 2rem;
    margin: 0 auto;
    text-align: center;
    max-width: 900px;
}

.Project:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

.Project h3 {
    color: #333;
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

.Project button {
    color: white;
    background-color: #ff6699;
    border: none;
    padding: 10px 20px;
}

.Project button:hover {
    background-color: #ff3366;
}

.miniatura-pequenita {
    width: 200px;
}

/* Estilos del Texto */
h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
}

h3 {
    color: #4CAF50;
    font-size: 1.5em;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    margin-bottom: 10px;
}

button {
    background-color: #f7b19c;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Animación de entrada para los proyectos */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Estilos para el Contenedor del Retrato */
.PortraitContainer {
    border-radius: 50%;
    overflow: hidden;
    width: 400px;
    /* Ajusta el tamaño según sea necesario */
    height: 420px;
    /* Ajusta el tamaño según sea necesario */
    margin-right: 20px;
    /* Espaciado entre la imagen y los enlaces */
}

/* Estilos para la Información de Contacto */
.Contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.ContactTitle {
    margin-bottom: 20px;
}

.ContactTitle h2 {
    color: #333;
    font-size: 2em;
}

.ContactContent {
    display: flex;
    align-items: center;
    /* Alinea los elementos verticalmente */
}

.PortraitContainer {
    margin-right: 180px;
    /* Ajusta el margen derecho entre la foto y los enlaces */
}

.ContactInfo {
    text-align: left;
}

.ContactInfo p {
    margin: 20px;
    color: #333;
    font-size: 1.4em;
}

.ContactInfo a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
    display: block;
}

.ContactInfo a:hover {
    color: #0077B5;
}

.fa-linkedin-in,
.fa-github {
    color: #333333;
    margin-right: 20px;
}

/* Modificaciones para dispositivos móviles */
@media screen and (max-width: 767px) {
    .container {
        padding: 10px;
    }

    .App-header {
        height: 150px;
        font-size: 16px;
    }

    .header-left {
        margin-left: 0;
        text-align: center;
    }

    .GridContainer {
        gap: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* Centra los elementos en dispositivos móviles */
    }

    .AboutMe,
    .Projects,
    .Skills {
        padding: 10px;
        margin-bottom: 10px;
    }

    .SkillGroup {
        border: 1px solid #ddd;
        /* Borde gris suave alrededor de cada habilidad */
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 10px;
        width: calc(100% - 20px);
        /* Habilidades en columna en dispositivos móviles */
        box-sizing: border-box;
    }

    .Project {
        flex: 0 0 calc(100% - 20px);
    }

    .ProjectGroupTitle {
        font-size: 1.5em;
    }

    .Portrait {
        width: 50%;
        /* Reducir el ancho de la foto al 50% */
    }

    .PortraitContainer {
        margin-right: 10px;
        /* Reducir el margen entre la foto y los enlaces */
        margin-bottom: 20px;
        /* Agregar espacio entre la foto y los enlaces */
    }

    .Navigation {
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        top: 20px;
        right: 20px;
        background: rgba(0, 0, 0, 0.8);
        border-radius: 10px;
        padding: 10px;
        display: none;
    }

    .Navigation.active {
        display: flex;
    }

    .Navigation li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .Navigation a {
        font-size: 16px;
        color: white;
        text-decoration: none;
        /* Elimina el subrayado */
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
        color: white;
        font-size: 20px;
        background: none;
        border: none;
    }

    /* Modificaciones para la información de contacto */
    .ContactTitle h2 {
        font-size: 1.5em;
        /* Tamaño de título reducido */
    }

    .ContactContent {
        flex-direction: column;
        /* Alinea elementos de contacto en columna */
        text-align: center;
        /* Alinea texto al centro */
    }

    .ContactInfo p {
        margin: 10px 0;
        /* Reduce el espacio entre párrafos */
        font-size: 1em;
        /* Tamaño de fuente reducido */
    }

    .ContactInfo a {
        font-size: 0.9em;
        /* Tamaño de fuente reducido */
        color: #333;
        /* Color del texto del enlace */
        transition: color 0.3s ease;
        /* Agrega transición al color */
    }

    .ContactInfo a:hover {
        color: #0077B5;
        /* Cambia el color al hacer hover */
    }

    .fa-linkedin-in,
    .fa-github {
        font-size: 1.2em;
        /* Tamaño de iconos ajustado */
        margin-right: 10px;
        /* Espacio entre iconos reducido */
    }
}