.App {
    text-align: center;
    margin: 20px;
}

.App-header {
    background-color: #4CAF50;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 28px;
    color: white;
}

/* Estilos movimiento header */
#animated-header {
    top: 0;
    left: 0;
    width: 100%;
    height: 40vh;
    /* Ocupa el 40% de la altura de la ventana */
    background: linear-gradient(-60deg, #6c3 0%, #6c3 25%, #09f 25%, #09f 50%, #6c3 50%, #6c3 75%, #09f 75%, #09f 100%);
    /* Para fijar el fondo en su posición */
    z-index: 1;
    /* Z-index positivo para estar encima del contenido */
    animation: color-shift 1s ease-in-out infinite alternate;
    /* Propiedades de la animación (1 segundo de duración, ease-in-out, infinita y alterna) */
}

@keyframes color-shift {
    0% {
        background: linear-gradient(-60deg, #6c3 0%, #6c3 25%, #09f 25%, #09f 50%, #6c3 50%, #6c3 75%, #09f 75%, #09f 100%);
    }

    100% {
        background: linear-gradient(-60deg, #09f 0%, #09f 25%, #6c3 25%, #6c3 50%, #09f 50%, #09f 75%, #6c3 75%, #6c3 100%);
    }
}

/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos de las Secciones */
.AboutMe,
.Projects,
.Contact {
    background-color: #f5f5f5;
    padding: 50px 20px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.Portrait {
    width: 280px;
    height: 300px;
    object-fit: cover;
    border-radius: 20%;
    padding: 20px;
}

button.download-cv {
    background-color: #f7b19c;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button.download-cv:hover {
    transform: scale(1.2);

}

/* Estilos de los Proyectos */
.ProjectsContainer {
    overflow-x: auto;
}

.Projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ProjectGroup {
    margin-bottom: 20px;
    overflow-x: auto;
}

.ProjectGroupTitle {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 10px;
    background: linear-gradient(45deg, #ffcc00, #ff6699);
    /* Agregado un degradado */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
    /* Agregada sombra */
}

.ProjectGroupContainer {
    display: flex;
    gap: 20px;
    padding: 20px;
    border-radius: 15px;
}

.Project {
    flex: 0 0 calc(20% - 20px);
    background-color: #f7b19c;
    border: 2px solid #000;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
    opacity: 0.5;
    text-align: center;
}

.Project:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    animation: pulse 1s infinite;
}

.Project h3 {
    color: #000;
    /* Cambiado el color del texto a negro */
    margin-bottom: 10px;
    font-size: 1.8em;
    font-weight: bold;
}

.Project button {
    color: black;
    border: 2px solid rgb(115, 115, 115);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.Project button:hover {
    background-color: #ffd52c;
    color: black;
}

.arrow {
    background-color: transparent;
    border: none;
    font-size: 2em;
    cursor: pointer;
    color: #000;
    /* Color de las flechas */
    transition: transform 0.3s ease;
    /* Añade transición para el cambio de tamaño */
}

.arrow:hover {
    transform: scale(1.2);
    /* Hace las flechas un poco más grandes al pasar el mouse sobre ellas */
}

/* Estilos del Texto */
h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
}

h3 {
    color: #4CAF50;
    font-size: 1.5em;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    margin-bottom: 10px;
}

button {
    background-color: #f7b19c;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Animación de entrada para los proyectos */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.Project {
    animation: fadeIn 0.5s ease forwards;
}

/* Estilos para la Sección de Contacto */
.Contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Estilos para el Contenedor del Retrato */
.PortraitContainer {
    flex: 1;
    text-align: center;
}

/* Estilos para la Información de Contacto */
.ContactInfo a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.fa-linkedin-in {
    color: #0077B5;
}

.fa-github {
    color: #333;
}
