body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.App {
    text-align: center;
}


/* Navegador */
.Navigation {
    position: absolute;
    top: 10px;
    right: 10px;
}

.Navigation ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.Navigation li {
    margin-right: 10px;
    position: relative;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.Navigation li:hover {
    transform: scale(1.05);
}

.Navigation a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .Navigation {
        top: 20px;
        /* Ajusta la posición hacia abajo */
        right: 20px;
        /* Ajusta la posición hacia la izquierda */
    }

    .Navigation ul {
        flex-direction: row;
    }

    .Navigation li {
        margin-right: 10px;
        margin-bottom: 0;
    }
}

/* Header */
.App-header {
    display: flex;
    align-items: center;
    padding: 20px;
    background: url('../Images/fondo.avif') center center/cover;
    height: 300px;
    border-radius: 0 0 10px 10px;
    z-index: 1;
    color: white;
    font-size: 25px;
}

.header-left {
    display: flex;
    flex-direction: column;
    margin-left: 600px;
}

.header-left h1 {
    margin: 0;
    margin-bottom: 5px;
}

.header-left h4 {
    margin: 0;
}

.SkillsContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.GridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.SkillGroup {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
}

/* Añade estilos para organizar el contenido de AboutMe */
.AboutMeText {
    max-width: 800px;
    /* Ajusta según tus preferencias */
    margin: 0 auto;
    /* Centra el contenido */
}

.AboutMeButtons {
    display: flex;
    flex-direction: column;
    /* Alinea los botones en columna */
    align-items: center;
    /* Centra los botones horizontalmente */
    margin-top: 20px;
    /* Ajusta el margen superior según tus preferencias */
}

/* Estilos de las Secciones */
.AboutMe,
.Projects,
.Skills
.Contact {
    background-color: #f5f5f5;
    padding: 50px 20px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.PortraitContainer {
    flex: 1;
    text-align: center;
    margin-bottom: 20px;
}

.Portrait {
    width: 280px;
    height: 300px;
    object-fit: cover;
    border-radius: 20%;
    padding: 20px;
}

button.download-cv {
    background-color: #f7b19c;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button.download-cv:hover {
    transform: scale(1.2);
}

.Projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* Alinea los proyectos en el centro */
    gap: 20px;
    /* Espacio entre los proyectos */
}

.ProjectGroup {
    margin-bottom: 40px;
    /* Aumentado el margen inferior */
}

.ProjectGroupTitle {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ff6699;
    text-align: center;
}

.Project {
    flex: 0 0 calc(30% - 20px);
    background-color: #ffcc00;
    border: 2px solid #ff6699;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
    opacity: 0.8;
    text-align: center;
}

.Project:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

.Project h3 {
    color: #333;
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

.Project button {
    color: white;
    background-color: #ff6699;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Project button:hover {
    background-color: #ff3366;
}

/* Estilos del Texto */
h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
}

h3 {
    color: #4CAF50;
    font-size: 1.5em;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    margin-bottom: 10px;
}

button {
    background-color: #f7b19c;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Animación de entrada para los proyectos */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.Project {
    animation: fadeIn 0.5s ease forwards;
}

/* Estilos para la Sección de Contacto */
.Contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Estilos para el Contenedor del Retrato */
.PortraitContainer {
    flex: 1;
    text-align: center;
}

/* Estilos para la Información de Contacto */
.ContactInfo {
    flex: 1;
    margin-bottom: 90px;
}

.ContactInfo h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

.ContactInfo p {
    margin: 0;
    color: #333;
    font-size: 1.2em;
}

.ContactInfo a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
    display: block;
    margin-bottom: 5px;
}

.ContactInfo a:hover {
    color: #0077B5;
}

.fa-linkedin-in,
.fa-github {
    color: #333;
    font-size: 1.5em;
    margin-right: 5px;
    /* Añadido espacio entre íconos */
}
